{"epochs": 1000, "base model name": "resnet", "training_based_on": "../models/traffic-light-classifiers-2021-03-26_12-49-07", "batch size": 256, "freeze feature extraction layers": false, "Used cudnn": true, "validation_accuracy": 0.8898776418242491, "number of training images": 1652, "number of validation images": 899}