<!-- -->
<launch>
    <arg name='respect_traffic_rules' default='True'/>
    <arg name='export_path' default='False'/>
    <arg name='always_u_turn' default='False'/>
    <arg name='enable_debug' default='False'/>

  <node pkg="psaf_global_planner" type="path_supervisor_common_roads.py" name="path_provider" output="screen">
      <param name='respect_traffic_rules' value='$(arg respect_traffic_rules)'/>
      <param name='export_path' value='$(arg export_path)'/>
      <param name='enable_debug' value='$(arg enable_debug)'/>
  </node>

    <node pkg="psaf_global_planner" type="planning_preprocessor.py" name="planning_preprocessor" output="screen">
      <param name='respect_traffic_rules' value='$(arg respect_traffic_rules)'/>
      <param name='always_u_turn' value='$(arg always_u_turn)'/>
  </node>
</launch>