<!-- -->
<launch>
<!--  Arguments begin-->
  <arg name='role_name' default='ego_vehicle'/>
  <arg name='camera_group' default='front'/>
  <arg name='threshold_diff' default='0.1'/>
<!-- Arguments end-->

  <node pkg="psaf_sensor_preprocessing" type="sensor_fusion_service" name="sensor_fusion_service" output="screen">
    <param name="~role_name" type="str" value="$(arg role_name)"/>
    <param name="~camera_group" type="str" value="$(arg camera_group)"/>
    <param name="~threshold_diff" type="double" value="$(arg threshold_diff)"/>
  </node>
</launch>